---
title: Wedding
---
{# vi: ft=html
#}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{hashtag}} - {{receptionDate}}</title>

  {% include 'css.njk' %}
</head>

<body id="page-top">
  <!-- Nav -->
  {% include 'partials/nav.njk' %}

  <!-- Masthead -->
  {% include 'partials/header.njk' %}

  <!-- About Us -->
  {% if story %}
  {% include 'partials/story.njk' %}
  {% endif %}

  <!-- Gallery -->
  {% if gallery %}
  {% include 'partials/gallery.njk' %}
  {% endif %}


  {% if releaseDetails %}
  <!-- Reception -->
  {% include 'partials/details.njk' %}
  {% endif %}

  {% if releaseRegistry %}
  <!-- Registry -->
  {% include 'partials/registry.njk' %}
  {% endif %}

  {% if comingSoon %}
  {% include 'partials/coming-soon.njk' %}
  {% endif %}

  {% if releaseContact %}
  <!-- Contact Section -->
  {% include 'partials/contact.njk' %}
  {% endif %}

  <!-- Footer -->
  {% include 'partials/footer.njk' %}

  {% include 'js.njk' %}

</body>

</html>
