{# vi: ft=html
#}
<section class="page-section bg-dark text-white" id="registry">
<div class="container text-center">
  <h2 class="mb-4">More details to come!</h2>
  <p class="mb-4 text-white">Stay tuned updates to follow</p>
</div>
</section>
