{# vi: ft=html
#}
<section class="page-section" id="contact">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="mt-0">Let's be in touch!</h2>
      <hr class="divider my-4">
      <p class="text-muted mb-5">Questions about the wedding or just excited, let us know!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg mr-auto text-center">
      <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
      <!-- Make sure to change the email address in anchor text AND the link below! -->
      <a class="d-block" href="mailto:{{contactEmail}}">{{contactEmail}}</a>
    </div>
  </div>
</div>
</section>
