{# vi: ft=html
#}
<section class="page-section bg-light" id="details">
<div class="container text-center">
  <h2 class="mb-4">Celebration Details</h2>

  <h5><strong>Saturday, June 13, 2020<br/>
          12:00pm - 5:00pm</strong></h5><br/>

  <p>
    We will be getting married in an intimate wedding ceremony in early June surrounded by our grandparents, parents, and Steve. Can't forget about Steve (Scott's brother). We can't wait to celebrate with you all later at our backyard wedding reception!
  </p><br/>

  <h5 class='mb-2'>This sounds out of the ordinary. What can I expect?</h5>
  <p>
    This will be a casual, open house style wedding reception. Please feel free to come for whatever amount of time you're able (10 minutes, the whole time, whatever floats your boat!). We will have a food truck, delicious drinks, yard games, and a backyard picnic setting.
  </p><br/>

  <h5 class='mb-2'>This sounds great, I'm in! Where's this party happening?</h5>
  <p>
    The party will be held at our home in Ypsilanti, MI. Please refer to your paper invitation for our address. Or email us - we love getting emails!
  </p><br/>

  <h5 class='mb-2'>Where do I park?</h5>
  <p>
    Street parking is available throughout our neighborhood.
  </p><br/>

  <h5 class='mb-2'>Can I bring my kids?</h5>
  <p>
    This will be an adult only celebration, so please plan on leaving the kids at home.
  </p><br/>

  <h5 class='mb-2'>What's dress code?</h5>
  <p>
    Let's call it casual elegant - think sundresses or skirts, slacks or shorts with a polo or button up (leave the tie at home!). This is a picnic so you will likely be sitting on the ground at some point.
  </p><br/>

</div>
</section>
</div>
</section>
