{# vi: ft=html
#}
  <section id="gallery">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        {% for image in images %}
        <div class="col-lg-4 col-sm-6">
            <img class="img-fluid" src="img/gallery/{{image}}.png" alt="">
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
