{# vi: ft=html
#}
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <!-- <h1 class="text-uppercase text-white font-weight-bold">{{bride}}<br/>&<br/>{{groom}}</h1> -->
            <h1 class="text-uppercase text-white font-weight-bold">{{brideFirst}}&nbsp;&nbsp;{{brideLast}}<br/>&<br/>{{groomFirst}}&nbsp;&nbsp;{{groomLast}}</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 font-weight-light mb-5">{{receptionDate}}</p>
        </div>
      </div>
    </div>
  </header>
