{# vi: ft=html
#}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
<div class="container">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">{{hashtag}}</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto my-2 my-lg-0">
      {% if story %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#story">Our Story</a>
      </li>
      {% endif %}
      {% if releaseDetails %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#details">Celebration Details</a>
      </li>
      {% endif %}
      {% if releaseRegistry %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#registry">Registy</a>
      </li>
      {% endif %}
      {% if releaseContact %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>
