{# vi: ft=html
#}
<section class="page-section bg-dark text-white" id="registry">
    <div class="container">
      <h2 class="text-center mt-0">Registry</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg col-md text-center">
            <p>Your presence at our wedding reception is the greatest gift we could have!<br/>However, if you do wish to celebrate with a gift, you can view a few things we would love to add to our home at the registries below.</p>
        </div>
      </div>
      <div class="row">
        {% for registry in registries %}
        <div class="col text-center">
          <div class="mt-5">
              <i class="fa-4x {{registry.icon}} text-primary mb-4"></i>
              <a href="{{registry.link}}"><h3 class="h4 mb-2">{{registry.name}}</a>
              <!--<p class="text-muted mb-0">Keeping this incase I want to leave a note in the future</p>-->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
