{# vi: ft=html
#}
<section class="page-section bg-primary" id="story">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="text-white mt-0">Our Story</h2>
      <hr class="divider light my-4">
      <p class="text-white-50 mb-4">On May 5, 2013 (yes, that's Cinco de Mayo and yes, that's important to the story!), Emily was working all afternoon and unable to celebrate with her friends. Taking a shot in the dark, she posted on Facebook asking someone to bring her a margarita to her apartment. Low and behold, someone responded! Her friend, Dan, said that he was eating tacos (of course) with two of his fraternity brothers. They would be over in an hour with maragarita fixin's. One of those guys was Scott! Scott was immediately enamored with Emily! But it took Emily a lot longer to feel the same way. After a year of being friends as Scott moved back and forth across the country for his internship, we decided things were meant to be and started dating!
<br/>
<br/>
Flash forward 5 years. After 2 years of long distance between Ann Arbor and Las Vegas, two homes together in Ann Arbor and Ypsilanti, and countless vacations and memories, Emily and Scott decided to get married. Naturally, the proposal was not a surprise. We're too logical for that. After selecting the ring together, Scott proposed at one of our favorite Ann Arbor college bars (conincidentally where we had our first date). We're super excited to FINALLY be getting married and to plan a wedding that is as unique as our relationship.
</p>
    </div>
  </div>
</div>
</section>
